@mixin font-face($font-family, $file-path, $weight: normal, $style: normal)
  @font-face
    font-family: $font-family
    src: url('#{$file-path}.woff2') format("woff2"), url('#{$file-path}.woff') format("woff");
    font-weight: $weight
    font-style: $style
    font-display: swap

@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Light", 300)
@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Regular", 400)
@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Bold", 700)
@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Black", 900)